In [1]:
## mean, median, mode, standard deviation, variance, quartiles, range, min, max

In [5]:
import pandas as pd
df = pd.read_excel("C:/Users/Andres/Desktop/Python/PandasBootCamp2022/datos_ventas.xlsx")

In [11]:
df.head()

    Producto          Categoría  Precio  Cantidad       Fecha     Ciudad
0  Televisor        Electrónica     500         2  2024-09-01     Madrid
1     Laptop        Electrónica     900         1  2024-09-02  Barcelona
2   Lavadora  Electrodomésticos     600         3  2024-09-03   Valencia
3      Móvil        Electrónica     400         5  2024-09-04    Sevilla
4   Secadora  Electrodomésticos     450         2  2024-09-05     Bilbao

Mean

In [9]:
df['Precio'].mean()

333.8888888888889

In [10]:
df['Precio'].sum() / df.shape[0] ## Son la misma formula, solo que enfocada en una funcion ya predefinida.

333.8888888888889

Median

In [12]:
df['Precio'].median()

240.0

In [16]:
df[['Precio', 'Cantidad']].median() # Se puede conseguir la mediana de varias columnas.

Precio      240.0
Cantidad      5.0
dtype: float64

Mode

In [17]:
df['Cantidad'].mode() # La moda o el valor que mas se repite.

0    2
Name: Cantidad, dtype: int64

Variance and std

In [18]:
df['Precio'].std()

290.85197574517485

In [19]:
df['Precio'].var()

84594.87179487178

Quartiles and interquartiles.

In [21]:
df['Cantidad'].quantile(0.70)

7.199999999999999