<h1> FIRST PART <h/1>

In [9]:
import pandas as pd

In [10]:
pd.Series([300,400,500], index = ['Jan', 'Feb', 'March'])

Jan      300
Feb      400
March    500
dtype: int64

<h3>DICCIONARIO:</h3>

De manera vulgar, un diccionario es una forma de almacenar elementos como se haria en una lista de Python, con la diferencia que en lugar de acceder a los elementos por su indice, se le asigna una clave fija y se accede mediante dicha clave.

In [11]:
dict1 = {'Jan': 300, 'Feb': 400, 'March': 500}

In [12]:
#dict1

dict1['Jan']

300

In [13]:
var_Series = pd.Series(dict1)

In [14]:
var_Series

Jan      300
Feb      400
March    500
dtype: int64

In [15]:
var_Series['Jan']

300

In [16]:
"Jan" in var_Series ### Checa si existe la key

True

In [17]:
var_Series*2

Jan       600
Feb       800
March    1000
dtype: int64

<h1> SECOND PART <h/1>

In [19]:
sales = pd.Series([65, 69, 72, 81, 60, 2, 56, 9, 27, 73, 84, 5])

In [20]:
sales.index = ['Jan', 'Feb', 'March', 'Apr', 'May', 'June', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [23]:
sales.head(2) #Muestra los 5 primeros valores, pero se puede modificar dentro del parentesis

Jan    65
Feb    69
dtype: int64

In [26]:
sales.tail(2) #Muestra los 5 ultimos valores, pero se puede modificar dentro del parentesis

Nov    84
Dec     5
dtype: int64

In [27]:
sales.min() #Muestra el valor minimo.

2

In [28]:
sales.max() #Muestra el valor maximo.

84

In [29]:
sales.mean() #Muestra el promedio.

50.25

In [31]:
sales.std() #Muestra la desviacion estandar.

30.733827972092605

In [33]:
sales.var() #Muestra la varianza.

944.5681818181819

In [36]:
series1 = pd.Series([10, 20, 30, 10, 20, 30, 10, 20, 10, 10])

In [37]:
series1

0    10
1    20
2    30
3    10
4    20
5    30
6    10
7    20
8    10
9    10
dtype: int64

In [38]:
series1.unique() #Obtener valores unicos.

array([10, 20, 30], dtype=int64)

In [40]:
series1. nunique() #Cantidad de valores unicos.

3

In [41]:
series1.value_counts() #Contar la cantidad de valores.

10    5
20    3
30    2
dtype: int64