In [1]:
import pandas as pd

In [11]:
sales = pd.read_excel("C:/Users/Andres/Desktop/Python/PandasBootCamp2022/datos_ventas.xlsx")

In [12]:
sales.head()

    Producto          Categoría  Precio  Cantidad       Fecha     Ciudad
0  Televisor        Electrónica     500         2  2024-09-01     Madrid
1     Laptop        Electrónica     900         1  2024-09-02  Barcelona
2   Lavadora  Electrodomésticos     600         3  2024-09-03   Valencia
3      Móvil        Electrónica     400         5  2024-09-04    Sevilla
4   Secadora  Electrodomésticos     450         2  2024-09-05     Bilbao

In [13]:
sales.tail()

      Producto          Categoría  Precio  Cantidad       Fecha     Ciudad
22      Nevera  Electrodomésticos     850         2  2024-09-23    Sevilla
23      Tablet        Electrónica     240         5  2024-09-24     Bilbao
24   Impresora        Electrónica     130         7  2024-09-25     Madrid
25  Microondas  Electrodomésticos      90         8  2024-09-26   Valencia
26    Freidora              Hogar      65        10  2024-09-27  Barcelona

In [16]:
sales[['Producto', 'Precio']].head()

    Producto  Precio
0  Televisor     500
1     Laptop     900
2   Lavadora     600
3      Móvil     400
4   Secadora     450

In [20]:
sales[3:10]  ##FROM : UNTIL.

      Producto          Categoría  Precio  Cantidad       Fecha     Ciudad
3        Móvil        Electrónica     400         5  2024-09-04    Sevilla
4     Secadora  Electrodomésticos     450         2  2024-09-05     Bilbao
5   Microondas  Electrodomésticos     100        10  2024-09-06     Málaga
6  Auriculares        Electrónica      80        15  2024-09-07   Zaragoza
7       Nevera  Electrodomésticos     800         1  2024-09-08     Madrid
8       Tablet        Electrónica     250         8  2024-09-09   Valencia
9     Cafetera              Hogar      60         7  2024-09-10  Barcelona

<h1> CLASS 6 </h1>

In [21]:
sales.columns

Index(['Producto', 'Categoría', 'Precio', 'Cantidad', 'Fecha', 'Ciudad'], dtype='object')

In [22]:
sales.min()

##sales['Precio'].min() ##Se puede llamar el valor minimo de una columna en especifico.

Producto             Altavoces
Categoría    Electrodomésticos
Precio                      30
Cantidad                     1
Fecha               2024-09-01
Ciudad               Barcelona
dtype: object

In [23]:
sales.max()

Producto      Televisor
Categoría         Hogar
Precio              950
Cantidad             20
Fecha        2024-09-27
Ciudad         Zaragoza
dtype: object

In [25]:
sales['Precio'].mean() ## El .mean() solo funciona con valores numericos.

333.8888888888889

In [27]:
sales.sum() ## El .sum() en caso de valores string y date los concatena, en caso de valores numericos los suma.

Producto     TelevisorLaptopLavadoraMóvilSecadoraMicroondas...
Categoría    ElectrónicaElectrónicaElectrodomésticosElectró...
Precio                                                    9015
Cantidad                                                   155
Fecha        2024-09-012024-09-022024-09-032024-09-042024-0...
Ciudad       MadridBarcelonaValenciaSevillaBilbaoMálagaZara...
dtype: object

In [33]:
sales.cumsum().head() # Suma el valor anterior con el siguiente.

,Producto,Categoría,Precio,Cantidad,Fecha,Ciudad
0,Televisor,Electrónica,500,2,2024-09-01,Madrid
1,TelevisorLaptop,ElectrónicaElectrónica,1400,3,2024-09-012024-09-02,MadridBarcelona
2,TelevisorLaptopLavadora,ElectrónicaElectrónicaElectrodomésticos,2000,6,2024-09-012024-09-022024-09-03,MadridBarcelonaValencia
3,TelevisorLaptopLavadoraMóvil,ElectrónicaElectrónicaElectrodomésticosElectró...,2400,11,2024-09-012024-09-022024-09-032024-09-04,MadridBarcelonaValenciaSevilla
4,TelevisorLaptopLavadoraMóvilSecadora,ElectrónicaElectrónicaElectrodomésticosElectró...,2850,13,2024-09-012024-09-022024-09-032024-09-042024-0...,MadridBarcelonaValenciaSevillaBilbao

In [34]:
sales['Precio'].cumprod().head() # multiplica el valor anterior con el siguiente. # Solo funciona con valores numericos.

0               500
1            450000
2         270000000
3      108000000000
4    48600000000000
Name: Precio, dtype: int64

In [37]:
sales['Precio'].median() # Retornar la mediana de los valores. # Solo funciona con valores numericos.

240.0

In [39]:
sales.shape # (FILAS, COLUMNAS)

(27, 6)

In [41]:
sales.dtypes #Tipo de cada columna.

Producto     object
Categoría    object
Precio        int64
Cantidad      int64
Fecha        object
Ciudad       object
dtype: object